<h1>Lists:</h1>
<br />
<br />


<% @to_do_lists.each do |to_do_list| %>
<div class = "span3 offset1">
  <div class = "todolist index">
    <h1><%= to_do_list.name %></h1>
    <td>
      <div id="list">
       <ul class="sortable">
          <% to_do_list.to_do_items.each do |item| %>
          <li class="ui-state-default" id="item_<%=item.id%>" data-to_do_item_id="<%=item.id%>">
              <%= item.name %>
          </li>
          <%end%>
        </ul>
      </div>
    </td>
    <td><%= link_to 'Show', to_do_list %></td>
    <td><%= link_to 'Edit', edit_to_do_list_path(to_do_list) %></td>
    <td><%= link_to 'Destroy', to_do_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </div>
</div>
<% end %>

<br/>
<br/>
